<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="노딱넷 영상등록">
  <meta name="author" content="노딱넷 영상등록">
  <meta name="keyword" content="노딱넷 영상등록">
  <title>노딱넷 영상등록</title>
  <link href="/library/admin/img/favicon.png" rel="icon">
  <link href="/library/admin/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="/library/admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/library/admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="/library/admin/css/style.css" rel="stylesheet">
  <link href="/library/admin/css/style-responsive.css" rel="stylesheet">
  <script src="/library/admin/js/jquery-3.3.1.min.js"></script>

</head>

<body>
	<section id="container">
		<section id="main-content">
			<section class="wrapper" style="margin-top:10px;">
				<h3>
					<i class="fa fa-angle-right"></i> 공지사항 등록
				</h3>
				<div class="row mt">
					<div class="col-lg-12" style="width:100%;">
						<div class="form-panel">
							<form th:action="@{/community/noticeRegister}" class="form-horizontal style-form" method="POST">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">공지사항 제목</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="subject"> 
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">중요공지 여부</label>
									<div class="col-sm-10">
										<select class="form-control" name="sign">
											<option value="false">일반 공지</option>
											<option value="true">중요 공지</option>
										</select> 
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">공지사항 내용</label>
									<div class="col-sm-10">
										<textarea class="form-control" name="content"></textarea> 
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
										<input type="submit" class="btn btn-theme" value="등록">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<script src="/library/admin/lib/jquery/jquery.min.js"></script>
	<script src="/library/admin/lib/bootstrap/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/library/admin/lib/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/library/admin/lib/jquery.scrollTo.min.js"></script>
	<script src="/library/admin/lib/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="/library/admin/lib/common-scripts.js"></script>
	<script src="/library/admin/lib/jquery-ui-1.9.2.custom.min.js"></script>
	<th:block th:if="${RgCode == 'F'}">
		<script>
			alert('공지사항 등록 실패입니다 다시 시도해 주세요')
			self.close();
			opener.location.reload();
		</script>
	</th:block>
	<th:block th:if="${RgCode == 'S'}">
		<script>
			alert('공지사항이 정상적으로 등록 되었습니다');
			self.close();
			opener.location.reload();
		</script>
	</th:block>
</body>

</html>
