<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/library/front/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/library/front/js/popper.min.js}"></script>
<script th:src="@{/library/front/js/bootstrap.min.js}"></script>
<script th:src="@{/library/front/js/slick.min.js}"></script>
<script th:src="@{/library/front/js/owl.carousel.min.js}"></script>
<script th:src="@{/library/front/js/select2.min.js}"></script>
<script th:src="@{/library/front/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/library/front/js/slick-animation.min.js}"></script>
<script th:src="@{/library/front/js/custom.js}"></script>
<script src="https://kit.fontawesome.com/e989c036e6.js" crossorigin="anonymous"></script>
</html>