<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="노딱넷 회원정보">
  <meta name="author" content="노딱넷 회원정보">
  <meta name="keyword" content="노딱넷 회원정보">
  <title>노딱넷 회원관리</title>
  <link href="/library/admin/img/favicon.png" rel="icon">
  <link href="/library/admin/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="/library/admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/library/admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/library/admin/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
  <link href="/library/admin/css/style.css" rel="stylesheet">
  <link href="/library/admin/css/style-responsive.css" rel="stylesheet">
  <script src="/library/admin/js/jquery-3.3.1.min.js"></script>
	<script src="/library/admin/js/main.js"></script>
</head>

<body>

	<section id="container">
		<section id="main-content">
			<section class="wrapper" style="margin-top:10px;">
				<h3>
					<i class="fa fa-angle-right"></i> 회원정보
				</h3>
				<div class="row mt">
					<div class="col-lg-12" style="width:100%;">
						<div class="form-panel">
							<form th:action="@{/memberUpdate}" class="form-horizontal style-form" enctype="multipart/form-data" method="POST">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 이름</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="name" th:value="${detail.name}" readonly="readonly"> 
										<input type="hidden" class="form-control" name="id" th:value="${detail.id}">
										<span class="help-block">회원 이름 경고메시지</span>
									</div>
								</div>
								<input type="button" class="btn btn-theme" id="passBtn" value="정보수정">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 비밀번호</label>
									<div class="col-sm-10">
										<input type="password" id="userPass" class="form-control" name="password" th:value="${detail.password}" disabled="disabled"> 
										<span class="help-block">회원 비밀번호 경고메시지</span>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">닉네임</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="nickname" th:value="${detail.nickname}" readonly="readonly"> 
										<span class="help-block">닉네임 경고메시지</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 아이디</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="username" th:value="${detail.username}" readonly="readonly"> 
										<span class="help-block">회원 아이디 경고메시지</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 이메일</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="email" th:value="${detail.email}" readonly="readonly"> 
										<span class="help-block">Email 경고메시지</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 연락처</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="phone" th:value="${detail.phone}" readonly="readonly"> 
										<span class="help-block">Phone 경고메시지</span>
									</div>
								</div>
								<input type="button" class="btn btn-theme" value="+2200"
								th:data-parameter1="${detail.id}" th:data-parameter2="${detail.name}" th:data-parameter3="2200" th:data-parameter4="${detail.username}" th:data-parameter5="plus"
								th:onclick="pointCharge(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'), this.getAttribute('data-parameter4'), this.getAttribute('data-parameter5'));">
								<input type="button" class="btn btn-theme" value="+9900" 
								th:data-parameter1="${detail.id}" th:data-parameter2="${detail.name}" th:data-parameter3="9900" th:data-parameter4="${detail.username}" th:data-parameter5="plus"
								th:onclick="pointCharge(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'), this.getAttribute('data-parameter4'), this.getAttribute('data-parameter5'));">
								<input type="button" class="btn btn-theme" value="-2200"
								th:data-parameter1="${detail.id}" th:data-parameter2="${detail.name}" th:data-parameter3="2200" th:data-parameter4="${detail.username}" th:data-parameter5="minus"
								th:onclick="pointCharge(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'), this.getAttribute('data-parameter4'), this.getAttribute('data-parameter5'));">
								<input type="button" class="btn btn-theme" value="-9900" 
								th:data-parameter1="${detail.id}" th:data-parameter2="${detail.name}" th:data-parameter3="9900" th:data-parameter4="${detail.username}" th:data-parameter5="minus"
								th:onclick="pointCharge(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'), this.getAttribute('data-parameter4'), this.getAttribute('data-parameter5'));">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 포인트</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="point" th:value="${detail.point}" readonly="readonly"> 
										<span class="help-block">회원 포인트 경고메시지</span>
									</div>
								</div>
								<input type="button" class="btn btn-theme" id="enabledBtn" value="계정 상태 변경">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">회원 접속 가능 여부</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="enabled" th:value="${detail.enabled}" id="enabledArea" readonly="readonly">
										<span class="help-block">회원 접속여부 경고메시지</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10">
										<input type="submit" class="btn btn-theme" value="수정">
										<input type="button" class="btn btn-theme" value="닫기">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<script src="/library/admin/lib/jquery/jquery.min.js"></script>
	<script src="/library/admin/lib/bootstrap/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="/library/admin/lib/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/library/admin/lib/jquery.scrollTo.min.js"></script>
	<script src="/library/admin/lib/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="/library/admin/lib/common-scripts.js"></script>
	<script src="/library/admin/lib/jquery-ui-1.9.2.custom.min.js"></script>
	<th:block th:if="${UpCode == 'S'}">
		<script>
			alert('사용자 정보가 수정 되었습니다')
			self.close();
			opener.location.reload();
		</script>
	</th:block>
</body>

</html>
