<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>노딱넷 성인인증</title>
        
        <script th:inline="javascript">
        	var certCode = /*[[${CertCode}]]*/ 'default';
        	
        </script>
        <script type="text/javascript">
            window.onload=function(){
            	if(certCode=='Dup'){
            		self.close();
            		alert('이미 가입한 번호 입니다. 아이디/비밀번호 찾기를 이용 해 주세요');
            		opener.location.href="/member/login"
            	}else if(certCode=='Young'){
            		self.close();
            		alert('성인만 회원가입이 가능합니다.');
            		opener.location.href="/member/login"
            	}else{
            		self.close();
                	alert('성인인증이 완료 되었습니다');
                	opener.location.href="/member/register";	
            	}
            }
        </script>
    </head>
    <body>
    </body>
</html>
